<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-minimalize minimalize-styl-2 toplogo"></a>
			<form role="search" class="navbar-form-custom"
				action="search_results.html">
				<div class="form-group">
					<input type="text" placeholder="移付宝BOSS-V2系统" class="form-control"
						name="top-search" id="top-search">
				</div>
			</form>
		</div>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>