<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.eeepay.framework.dao.MenuInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.eeepay.framework.model.sys.MenuInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="rigth_code" property="rightCode" jdbcType="VARCHAR" />
    <result column="menu_level" property="menuLevel" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="log_flag" property="logFlag" jdbcType="INTEGER" />
  </resultMap>
   <resultMap id="OneToManyResultMap" type="cn.eeepay.framework.model.sys.MenuInfo">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="rigth_code" property="rightCode" jdbcType="VARCHAR" />
    <result column="menu_level" property="menuLevel" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="log_flag" property="logFlag" jdbcType="INTEGER" />
    <collection property="children" javaType="list" select="select_children" column="id"
    	ofType="cn.eeepay.framework.model.sys.MenuInfo" />
  </resultMap>
  
  <select id="select_children"  parameterType="int" resultMap="cn.eeepay.framework.dao.MenuInfoMapper.OneToManyResultMap">  
  		select m.* from boss_sys_menu m where  m.parent_id=#{id} and m.menu_type='menu' order by order_no
  </select>
</mapper>